.highlight-text {
  white-space: nowrap;
  background-color: var(--self-color-bg);
  /*contrast color (white or black) for background*/
  color: color(
    from var(--self-color-bg) srgb calc(1 - round(calc(r + g + b) / 3, 1))
      calc(1 - round(calc(r + g + b) / 3, 1))
      calc(1 - round(calc(r + g + b) / 3, 1))
  );
}

.highlight-text[data-padding="padding"]::after {
  content: " ";
  display: inline-block;
  width: 1ch;
}
.highlight-text[data-padding="padding"]::before {
  content: " ";
  display: inline-block;
  width: 1ch;
}
