.payment-card {
  width: min-content;
  height: min-content;
  padding: var(--padding-card);
  border-radius: var(--radius-border-card);
  background-color: var(--color-bg-card);
  border: 1px solid var(--color-border-card);
  box-shadow: 1px 1px 8px rgb(0 0 0 /0.2), -1px 1px 8px rgb(0 0 0 /0.2);
  opacity: 1;
  > div {
    gap: var(--gap-card);
  }
  .payment-card-datetime {
    color: var(--color-datetime);
  }
  .payment-card-name {
    color: var(--color-name-card);
  }
  .payment-card-amount {
    font-size: 2rem;
    font-weight: bold;
    color: var(--color-amount-card);
  }
  .payment-card-currency {
    color: var(--color-currency-card);
  }
  .payment-card-from-for {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .payment-card-from {
    color: var(--color-from-card);
  }
  .payment-card-for {
    color: var(--color-for-card);
  }
}
