.collapse {
  height: min-content;
  background-color: var(--color-bg-menu);
  border-radius: var(--border-radius-action-element);
  border: 1px solid black;
  box-shadow: 1px 1px 8px rgb(0 0 0 /0.2), -1px 1px 8px rgb(0 0 0 /0.2);
  /* background-image: radial-gradient(
    circle farthest-corner at 50% 20%,
    rgba(151, 41, 247, 1) 0%,
    rgba(24, 22, 39, 1) 90%
  );*/

  summary {
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    border-radius: var(--border-radius-action-element);
    border: var(--border-action-element);
    padding: var(--padding-action-element);
    font-size: var(--font-size-action-element);
    font-weight: var(--font-weight-action-element);
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  summary:hover {
    text-decoration: underline;
  }
  summary:focus,
  summary:focus-visible {
    outline: 1px solid var(--color-border-action-element-accent);
  }

  > div {
    padding: var(--padding-menu);
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-menu);
  }

  .collapse-content {

  }
}

.collapse[open] summary {
  text-decoration: underline;
}
.collapse:not([open]) summary {
  text-decoration: none;
}

/*
.collapse:nth-child(1) {
  width: 100%;
}

.collapse:nth-child(2) {
  width: 90%;
}

.collapse:nth-child(3) {
  width: 80%;
}

.collapse:nth-child(4) {
  width: 70%;
}*/
