.collapse {
  summary {
    line-height: 1.5rem;
    list-style: none;
    box-sizing: border-box;
    height: 3rem;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    border-radius: var(--border-radius-action-element);
    border: var(--border-action-element);
    padding: var(--padding-action-element);
    font-size: var(--font-size-action-element);
    font-weight: var(--font-weight-action-element);
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  summary:hover {
    text-decoration: underline;
  }
  summary:focus,
  summary:focus-visible {
    outline: 2px solid var(--color-border-action-element-accent);
  }
  .collapse-content {
    max-width: calc(80dvw - 2rem);
    padding: var(--padding-m);
    opacity: 1;
    margin-inline: auto;
    transition: opacity 1s 0.3s;
    @starting-style {
      opacity: 0;
    }
  }
} /*
.collapse-content-hide {
  padding: var(--padding-menu);
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-menu);
  visibility: hidden;
}

.collapse-wrap {
  background-color: var(--color-bg-menu);
  border-radius: var(--border-radius-action-element);
  border: 1px solid black;
  box-shadow: 1px 1px 8px rgb(0 0 0 /0.2), -1px 1px 8px rgb(0 0 0 /0.2);
  color: var(--color-text-main);
  height: 3rem;
  transition: height 1s;
}
.collapse-wrap:has(.collapse[open]) {
  height: min-content;

  .collapse-content-hide {
    display: none;
  }
}*/

.collapse {
  background-color: var(--color-bg-menu);
  border-radius: var(--border-radius-action-element);
  border: 1px solid var(--color-border-card);
  box-shadow: 1px 1px 8px rgb(0 0 0 /0.2), -1px 1px 8px rgb(0 0 0 /0.2);
  color: var(--color-text-main);
  height: 3rem;
  width: calc-size(max-content, size);
  transition: height 1s, width 1s;
  will-change: height, width;
}
.collapse[open] {
  height: min-content;
  width: calc-size(max-content, size + 2rem);
}
