.daterpicker {
  label {
    display: flex;
    flex-direction: column;
    align-items: center;
    span {
      color: var(--color-text-label);
    }
    input {
      width: 100%;
      max-width: 20ch;
    }
  }
}
