.add-tags {
  width: 100%;
  .input-add-tags {
    margin: auto;
    padding-bottom: 1rem;
    > div {
      gap: 1rem;
    }
  }
  .tags-add-tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--gap-s);
    padding: var(--padding-s);
  }
}
