.statistic-tags {
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  color: var(--color-text-statistics);
  .statistic-tags-sum {
    text-align: center;
  }
}

.statistic-tags > div > div {
  filter: drop-shadow(0px 0px 8px var(--color-bg-main));
  overflow-wrap: break-word;
  padding: 0.5rem;
  background-color: var(--color-bg-statistics);
  opacity: 1;
  transform: translate(0px, 0px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  @starting-style {
    opacity: 0;
    transform: translate(0px, 1.5rem);
  }
}
.statistic-tags > div > div:nth-child(2n-1) {
  z-index: 99;
}
