.change-base {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-m);
}

.load-db-upload-status {
  width: 100%;
  color: lime;

  hr {
    width: 100%;
    transition: width 1s ease-in-out;
    @starting-style {
      width: 0%;
    }
  }

  div {
    opacity: 1;
    transition: opacity 1s ease-in-out 1s;
    @starting-style {
      opacity: 0;
    }
  }
}
