.input-with-options {
  display: flex;
  position: relative;
  align-items: end;
  label {
    display: flex;
    flex-direction: column;
    align-items: center;
    span {
      color: var(--color-text-label);
    }
    input {
      width: 100%;
      max-width:18ch;
      padding-right: 4ch;
      field-sizing: content
    }
  }
  .input-with-options-clear {
    position: absolute;
    bottom: 0.2rem;
    right: 0.2rem;
    scale: 0.8;
  }
}
