.statistics {
  text-align: left;
  display: grid;
  grid-template-columns: calc(35% - 0.5rem) calc(35% - 0.5rem) calc(
      30% - 0.5rem
    );
  gap: 0.5rem;
  justify-content: center;
  color: var(--color-text-statistics);
}

.statistics > div {
  display: contents;
}

.statistics > div:first-child {
  color: var(--color-text-main);
  div:nth-child(2) {
    text-align: center;
  }
}

.statistics > div:nth-child(2) {
  color: var(--color-neutral);
  div:nth-child(2) {
    color: var(--color-bg-main);
  }
  div:nth-child(3) {
    color: var(--color-bg-main);
  }
}

.statistics > div > div {
  overflow-wrap: break-word;
  padding: 0.5rem;
  background-color: var(--color-bg-statistics);
  opacity: 1;
  transform: translate(0px, 0px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  @starting-style {
    opacity: 0;
    transform: translate(0px, 1.5rem);
  }
}
.statistics > div > div:nth-child(3n-2) {
  z-index: 99;
}
