.action-button {
  height: min-content;
  border-radius: var(--radius-border-button);
  border: var(--border-button);
  padding: var(--padding-button);
  font-size: var(--size-font-button);
  font-weight: var(--weight-font-button);
  font-family: inherit;
  background-color: var(--self-color-bg, var(--color-bg-button));
  cursor: pointer;
  transition: border-color 0.25s;
  --self-color: color(
    from var(--self-color-bg) srgb calc(1 - round(calc(r + g + b) / 3, 1))
      calc(1 - round(calc(r + g + b) / 3, 1))
      calc(1 - round(calc(r + g + b) / 3, 1))
  );
  color: var(--self-color, currentColor);
}

.action-button:hover {
  border-color: var(--color-border-button);
}
.action-button:focus,
.action-button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.action-button[data-alert="alert"] {
  color: red;
}
