.flex-wrap:has(.payment-card-simple) {
  gap: var(--gap-xxs);
  transition: gap 1s ease-in-out;
  @starting-style {
    gap: var(--gap-xs);
  }
}

.payment-card-simple {
  opacity: 1;
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  transform: translateY(0);
  @starting-style {
    opacity: .5;
    transform: translateY(.5rem);
  }
}

.payment-card-simple {
  display: flex;
  align-items: center;
  font-family: inherit;
  border: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  width: 100%;
  min-height: 2rem;
  color: var(--color-payment-card-name);
  background-color: var(--color-bg-payment-card);
  gap: var(--gap-card);

  .payment-card-simple-datetime {
    max-width: calc(10% - var(--gap-card));
    color: var(--color-card-datetime);
  }
  .payment-card-simple-name {
    min-width: calc(30% - var(--gap-card));
    overflow-x: hidden;
    position: relative;
    /*color: var(--color-card-name);*/
  }
  div:has(.payment-card-simple-amount) {
    display: flex;
    justify-content: flex-end;
    gap: var(--gap-xs);
    min-width: calc(25% - var(--gap-card));
  }
  .payment-card-simple-amount {
    font-weight: bold;
    /*color: var(--color-card-amount);*/
  }
  .payment-card-simple-currency {
    color: var(--color-card-currency);
  }
  .payment-card-simple-tags {
    min-width: calc(20% - var(--gap-card));
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
    position: relative;
  }
  .payment-card-simple-from-for {
    min-width: calc(15% - var(--gap-card));
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
    font-size: 0.7rem;
    overflow-x: hidden;
    position: relative;
  }
  .payment-card-simple-from {
    color: var(--color-card-from-for);
  }
  .payment-card-simple-for {
    color: var(--color-card-from-for);
  }
  hr {
    width: 100%;
    opacity: 0.5;
    transition: opacity 1s ease-in-out, width 1s ease-in-out;
    transition-delay: 1s;
    margin-inline: initial;
    @starting-style {
      width: 0%;
      opacity: 0;
    }
  }
}

.payment-card-simple:focus,
.payment-card-simple:focus-visible {
  filter: sepia();
}

.payment-card-simple > div:last-child {
  margin-left: calc(-1 * var(--gap-card));
}

div:not(:has(.overflow-bg)) {
  z-index: 1;
}

.overflow-bg {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    transparent 90%,
    var(--color-bg-payment-card) 100%
  );
}

.payment-card-simple[data-colored="colored"] {
  color: var(--color-card-name);
  background-color: var(--color-bg-card);
  border: 1px solid var(--color-border-card);
  box-shadow: 1px 1px 8px rgb(0 0 0 /0.2), -1px 1px 8px rgb(0 0 0 /0.2);
  filter: drop-shadow();
  clip-path: none;
  .payment-card-simple-amount {
    color: var(--color-card-amount);
  }
  .overflow-bg {
    background: linear-gradient(
      to right,
      transparent 90%,
      var(--color-bg-card) 100%
    );
  }
}

.payment-card-simple[data-colored="colored"]:focus,
.payment-card-simple[data-colored="colored"]:focus-visible {
  outline: 2px solid var(--color-border-action-element-accent);
}
