.fileWork details {
    max-height: 80vh;
    overflow: auto;
    position: relative;
    min-width: 90vw;
}
.fileWork .grid {
    display: grid;
    grid: auto / 1fr 1fr 1fr 1fr;
    gap: 4px;
    background-color: var(--bg-color-table);
}

.fileWork .grid div {
    padding: 4px;
    display: flex;
    justify-content: center;
}

.fileWork .grid div:nth-child(4n + 1) {
    background-color: var(--bg-color-table-column-odd);
}
.fileWork .grid div:nth-child(4n + 2) {
    background-color: var(--bg-color-table-column-odd);
}
.fileWork .grid div:nth-child(4n + 3) {
    background-color: var(--bg-color-table-column-even);
}
.fileWork .grid div:nth-child(4n) {
    background-color: var(--bg-color-table-column-even);
}