.modal {
  width: 100%;
  min-height: 100dvh;
  overflow: hidden;
  padding: 0;
  cursor: auto;
  border: none;
  /* left: -12px;*/
  .hide-modal {
    position: fixed;
    top: 50%;
    right: 0;
    transform: rotateZ(-90deg);
    z-index: 99;
  }
  .modal-content {
    --color-main: hsl(var(--hue-self, var(--hue)), 100%, var(--light));
    --color-bg-menu: var(--color-main);
    overflow-y: auto;
    max-height: 90dvh;
    width: max-content;
    max-width: 80dvw;
    scrollbar-width: none;
    margin-block: 2rem;
    margin-inline: auto;
    padding: var(--padding-m);
    border-radius: 8px;
    border: 1px solid var(--color-border-card);
    box-shadow: 1px 1px 8px rgb(0 0 0 /0.2), -1px 1px 8px rgb(0 0 0 /0.2);
    background-color: var(--color-bg-menu);
  }
}

.modal::backdrop {
  background-color: black;
}

body:has([popover]:popover-open:not(dialog)) {
  height: 100vh !important;
  overflow: hidden !important;
}
