.modal {
  width: 100vw;
  height: 100vh;
  cursor: auto;
  .hide-modal {
    position: fixed;
    top: 50%;
    right: 0;
    transform: rotateZ(-90deg);
    button {
      color: red;
    }
  }
  .modal-content {
    overflow-y: scroll;
    scrollbar-width: none;
    width: max-content;
    max-width: 80%;
    top: 1rem;
    margin-block: 1rem;
    margin-inline: auto;
    max-height: 90dvh;
    padding: 2rem;
    border-radius: 8px;
    border: 2px solid hsl(0 0 0);
    box-shadow: 1px 1px 8px rgb(0 0 0 /0.2), -1px 1px 8px rgb(0 0 0 /0.2);
    background-color: var(--color-bg-menu);
  }
}
