.modal {
  width: 100vw;
  min-height: 100lvh;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  cursor: auto;
  border: none;
  .hide-modal {
    position: fixed;
    top: 50%;
    right: 0;
    transform: rotateZ(-90deg);
    z-index: 99;
  }
  .modal-content {
    overflow-y: auto;
    max-height: 90dvh;
    width: max-content;
    max-width: calc(90% - 4rem);
    scrollbar-width: none;
    margin-block: 2rem;
    margin-inline: auto;
    padding: 0.5rem;
    border-radius: 8px;
    border: 2px solid hsl(0 0 0);
    box-shadow: 1px 1px 8px rgb(0 0 0 /0.2), -1px 1px 8px rgb(0 0 0 /0.2);
    background-color: var(--color-bg-menu);
  }
}

.modal::backdrop {
  background-color: black;
}

.modal[open] {
  display: flex;
}
