.break-line {
  width: 100%;
  background-color: var(--color-bg-break-line);
  padding-inline: var(--padding-xs);
  display: flex;
  justify-content: space-around;
  div {
    text-align: left;
  }
  div:nth-child(1) {
    self-align: flex-start;
  }
  div:nth-child(2) {
    self-align: flex-end;
  }
  .break-line-sum {
    text-align: right;
    color: var(--color-card-amount);
    > span {
      margin-left: 1rem;
      span {
        color: var(--color-card-currency);
      }
    }
  }
}
