.source-card {
  font-family: inherit;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  width: min-content;
  min-width: 16ch;
  height: min-content;
  padding: var(--padding-card);
  border-radius: var(--border-radius-card);
  background-color: var(--color-bg-card);
  border: 1px solid var(--color-border-card);
  box-shadow: 1px 1px 8px rgb(0 0 0 /0.2), -1px 1px 8px rgb(0 0 0 /0.2);
  opacity: 0.8;
  > div {
    gap: var(--gap-card);
  }
  .source-card-name {
    color: var(--color-card-name);
  }
  .source-card-amount {
    font-size: 2rem;
    font-weight: bold;
    color: var(--color-card-amount);
  }
  .source-card-currency {
    color: var(--color-card-currency);
  }
}

.source-card:focus,
.source-card:focus-visible {
  outline: 2px solid var(--color-border-action-element-accent);
}
