.transactions-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-page);
  opacity: 1;
  transform: translate(0px, 0px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  @starting-style {
    opacity: 0;
    transform: translate(0px, 24px);
  }
}
