.statistics {
  text-align: left;
  display: grid;
  grid-template-columns: 4fr 5fr 1fr;
  gap: 0.5rem;
  color: var(--color-bg-main);
}

.statistics > div {
  display: contents;
}

.statistics > div:first-child {
  color: var(--color-text-main);
  div:nth-child(2) {
    text-align: center;
  }
}

.statistics > div:last-child {
  color: var(--color-neutral);
  div:nth-child(2) {
    color: var(--color-bg-main);
  }
  div:nth-child(3) {
    color: var(--color-bg-main);
  }
}

.statistics > div > div {
  padding: 0.5rem;
}

.statistics > div > div {
  background-color: var(--color-text-main);
}
