.menu {
  background-color: var(--color-bg-menu);
  border-radius: var(--radius-border-button);
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(151, 41, 247, 1) 0%,
    rgba(24, 22, 39, 1) 90%
  );

  summary {
    cursor: pointer;
    border-radius: var(--radius-border-button);
    border: var(--border-button);
    padding: var(--padding-button);
    font-size: var(--size-font-button);
    font-weight: var(--weight-font-button);
    font-family: inherit;
    background-color: var(--color-bg-summary);
    cursor: pointer;
    transition: border-color 0.25s;
  }
  summary:hover {
    text-decoration: underline;
  }
  summary:focus,
  summary:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

  div {
    padding: var(--padding-menu);
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-menu);
  }
}

.menu[open] summary {
  text-decoration: underline;
}
