#root {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.app {
  --hue: 250;
  --color-main: hsl(var(--hue), 100%, 20%);
  --color-main-light-accent: hsl(var(--hue), 100%, 70%);
  --color-main-dark-accent: hsl(var(--hue), 60%, 10%);
  --color-neutral: var(--color-gray);
  --color-for-action: hsl(0, 0%, 10%);

  /*colors*/ /*text*/

  --color-text-description: var(--color-neutral);
  --color-text-label: var(--color-text-description);
  --color-card-datetime: var(--color-text-description);
  --color-card-name: var(--color-text-main);
  --color-card-amount: var(--color-attention);
  --color-card-currency: var(--color-text-description);
  --color-card-from-for: var(--color-text-description);
  --color-card-from-arrow: var(--color-text-main);
  /*colors*/ /*background*/

  --color-bg-menu: var(--color-main);
  --color-bg-card: var(--color-main);
  --color-bg-button: var(--color-for-action);
  --color-bg-label-checked: var(--color-confirm);
  --color-bg-break-line: var(--color-main-dark-accent);
  /*colors*/ /*border*/
  --color-border-action-element-accent: var(--color-main-light-accent);
  --color-border-card: var(--color-main-dark-accent);
}

label {
  cursor: pointer;
}

input {
  border-radius: var(--border-radius-action-element);
  border: var(--border-action-element);
  padding: var(--padding-action-element);
  font-size: var(--font-size-action-element);
  font-weight: var(--font-weight-action-element);
  font-family: inherit;
  background-color: var(--color-bg-button);
  cursor: pointer;
  transition: border-color 0.25s;
}
input:hover {
  border-color: var(--color-border-action-element-accent);
}
input:focus,
input:focus-visible {
  outline: 1px solid var(--color-border-action-element-accent);
}

.loading {
  position: relative;
}
.loading::after {
  content: "";
  position: absolute;
  animation: loading-dots 1s infinite;
}

@keyframes loading-dots {
  0% {
    content: "";
  }
  33% {
    content: ".";
  }
  66% {
    content: "..";
  }
  100% {
    content: "...";
  }
}
