:root {
  --color-bg-main: hsl(0, 0%, 20%);
  --color-text-main: hsla(0, 0%, 100%, 0.87);

  --color-description: hsl(0, 0%, 60%);

  --color-datetime: hsl(0, 0%, 60%);

  --color-bg-button: hsl(0, 0%, 10%);
  --color-border-button: hsl(240, 100%, 70%);
  --radius-border-button: 8px;
  --weight-font-button: 500;
  --size-font-button: 1rem;
  --padding-button: 0.6rem 1.2rem;
  --border-button: 1px solid transparent;

  --color-bg-summary: hsla(0, 0%, 100%, 0);

  --color-text-label: hsl(0, 0%, 50%);

  --gap-page: 1rem;

  --color-bg-label_checked: hsl(120, 50%, 40%);

  --padding-menu: 0.5rem;
  --gap-menu: 0.5rem;
  --color-bg-menu: hsl(250, 40%, 40%);

  --gap-card: 1rem;
  --padding-card: 1rem;
  --radius-border-card: 8px;
  --color-border-card: black;
  --color-bg-card: var(--color-bg-menu);
  --color-datetime-card: hsl(0, 0%, 50%);
  --color-name-card: hsl(0, 100%, 100%);
  --color-amount-card: hsl(60, 100%, 50%);
  --color-currency-card: hsl(0, 0%, 50%);
  --color-from-card: hsl(0, 0%, 50%);
  --color-for-card: hsl(0, 0%, 50%);
  --color-arrow-from-for-card: hsl(0, 0%, 50%);

  --color-bg-break-line: hsl(0, 0%, 15%);
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-text-main);
  background-color: var(--color-bg-main);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-bg-main: hsl(0, 0%, 100%);
    --color-text-main: hsl(208, 37%, 20%);
    --color-bg-button: hsl(0, 0%, 98%);
  }
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}
