.help-view {
  opacity: 1;
  transform: translate(0px, 0px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  @starting-style {
    opacity: 0;
    transform: translate(0px, 1.5rem);
  }
  hr {
    width: 100%;
    opacity: 1;
    transition: opacity 1s ease-in-out, width 1s ease-in-out;
    transition-delay: 1s;
    @starting-style {
      width: 0%;
      opacity: 0;
    }
  }
  div:has(h2) {
    opacity: 1;
    transform: translate(0px, 0px);
    transition: opacity 1.5s ease-in-out, transform 1.5s ease-in-out;
    ul {
      text-align: left;
    }
    @starting-style {
      opacity: 0;
      transform: translate(0px, 1.5rem);
    }
  }
}
